p{
    text-align: center;
    font-size: 2em;
}

.inputs {
    text-align: center;
}
#upper-limit, #lower-limit {
    height: 1.5em;
}
#confirmation{
    text-align: center;
    font-size: 2em;
}
#submit,#generator{
    display: block;
    margin: auto;
    font-size: 2em;
    border-radius: 10px;
    border-width: 4px;
    background-color: rgba(0, 0, 255, 0.687);
    border-color: rgba(128, 0, 128, 0.448);
}
#submit:hover,#generator:hover{
    display: block;
    margin: auto;
    font-size: 2em;
    border-radius: 10px;
    border-width: 4px;
    background-color: rgba(0, 0, 255, 0.819);
    border-color: rgba(128, 0, 128, 0.774);
}
#submit:active,#generator:active{
    display: block;
    margin: auto;
    font-size: 2em;
    border-radius: 10px;
    border-width: 4px;
    background-color: rgb(0, 0, 255);
    border-color: rgb(128, 0, 128);
}